AuthType Basic
AuthName "Secure Content"
AuthUserFile /home/philippines01/www/philidev/kojima-paint_11ty-c_3/.htpasswd
require valid-user

RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://philidev.softnext.co.jp/kojima-paint_11ty-c_3/$1 [R,L]